{% extends "base.html" %}
{% load static %}

{% block nav %}
    {% if request.user.is_authenticated %}
        <li class="nav-item">
            <a class="nav-link" href="{% url "webapp:create_photo" %}">Добавить фото</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url "webapp:create_album" %}">Создать Альбом</a>
        </li>
    {% endif %}
{% endblock %}

{% block content %}
    {% if request.user.is_authenticated %}
        {% include "partial/photo_list_partial.html" %}
    {% endif %}
{% endblock %}